version: '3.7'

services:
  vuln4shift_database:
    container_name: vuln4shift-database
    image: docker.io/library/postgres:14
    restart: unless-stopped
    env_file:
      - ./conf/common.env
      - ./conf/db.env
    ports:
      - 25432:5432
    volumes:
      - vuln4shift-db-data:/var/lib/postgresql/data

  vuln4shift_dbadmin:
    command: /vuln4shift/main dbadmin
    container_name: vuln4shift-dbadmin
    build:
        context: .
        dockerfile: ./Dockerfile
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/dbadmin.env
    depends_on:
      - vuln4shift_database

  vuln4shift_manager:
    command: /vuln4shift/main manager
    container_name: vuln4shift-manager
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/manager.env
    ports:
      - 8000:8000
    depends_on:
      vuln4shift_database:
        condition: service_started
      vuln4shift_dbadmin:
        condition: service_completed_successfully

  vuln4shift_digestwriter:
    command: /vuln4shift/main digestwriter
    container_name: vuln4shift-digestwriter
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/digestwriter.env
      - ./conf/kafka.env
    depends_on:
      vuln4shift_database:
        condition: service_started
      vuln4shift_dbadmin:
        condition: service_completed_successfully
  # --------------------------------------------------
  # unit tests profile containers
  vuln4shift_unit_tests:
    command: go test -v -p 1 -coverprofile=coverage.txt -covermode=atomic ./...
    container_name: vuln4shift-unit-tests
    build:
      context: .
      dockerfile: ./Dockerfile
      target: buildimg
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/db.env
    environment:
      - GIN_MODE=release
    depends_on:
      vuln4shift_database:
        condition: service_started
      vuln4shift_dbadmin:
        condition: service_completed_successfully
    profiles:
      - unit-tests
    volumes:
      - ./:/vuln4shift

  vuln4shift_pyxis:
    command: /vuln4shift/main pyxis
    container_name: vuln4shift-pyxis
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/pyxis.env
    depends_on:
      vuln4shift_database:
        condition: service_started
    profiles:
      - pyxis

  vuln4shift_vmsync:
    command: /vuln4shift/main vmsync
    container_name: vuln4shift-vmsync
    build:
      context: .
      dockerfile: ./Dockerfile
    image: vuln4shift/app:latest
    env_file:
      - ./conf/common.env
      - ./conf/vmsync.env
    depends_on:
      vuln4shift_database:
        condition: service_started
    profiles:
      - vmsync

volumes:
  vuln4shift-db-data:
