---
apiVersion: v1
kind: Template
metadata:
  name: vuln4shift-backend
objects:
- apiVersion: v1
  data:
    manager-db-passwd: bWFuYWdlcl9wd2Q=
    vmaas-gatherer-db-passwd: dm1hYXNfZ2F0aGVyZXJfcHdk
    pyxis-gatherer-db-passwd: cHl4aXNfZ2F0aGVyZXJfcHdk
    archive-writer-db-passwd: YXJjaGl2ZV9kYl93cml0ZXJfcHdk
    cve-aggregator-db-passwd: Y3ZlX2FnZ3JlZ2F0b3JfcHdk
    cleaner-db-passwd: Y2xlYW5lcl9wd2Q=
    exploit-gatherer-db-passwd: ZXhwbG9pdF9nYXRoZXJlcl9wd2Q=
  kind: Secret
  metadata:
    name: vuln4shift-db-passwds
    namespace: test  # namespace is overwritten by bonfire
  type: Opaque

- apiVersion: v1
  data:
    amsclient_id: ""
    amsclient_secret: ""
  kind: Secret
  metadata:
    name: ams-client-auth
    namespace: test
  type: Opaque 

- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: vuln4shift-backend
  spec:
    database:
      name: ocp-vulnerability
      version: 13  # docker-compose is using 14! but 14 is not supported by clowder yet
    envName: ${ENV_NAME}
    kafkaTopics:
    - replicas: 3
      partitions: 2
      topicName: ${KAFKA_BROKER_INCOMING_TOPIC}
    - replicas: 3
      partitions: 2
      topicName: ${KAFKA_PAYLOAD_TRACKER_TOPIC}
    dependencies:
    - sha-extractor
    testing:
      iqePlugin: ocp-vulnerability
    deployments:
    - name: manager
      replicas: ${{REPLICAS_MANAGER}}
      webServices:
        public:
          enabled: true
          apiPath: ocp-vulnerability
          whitelistPaths:
          - /api/ocp-vulnerability/v1/openapi*
        private:
          enabled: false
        metrics:
          enabled: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        initContainers:
        - command:
          - /vuln4shift/main
          - dbadmin  # golang-migrate acquires a lock so running init concurrently for each manager pod should be fine
          env:
          - name: LOGGING_LEVEL
            value: ${LOGGING_LEVEL}
          - name: USER_MANAGER_PASS
            valueFrom:
              secretKeyRef:
                key: manager-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_VMAAS_GATHERER_PASS
            valueFrom:
              secretKeyRef:
                key: vmaas-gatherer-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_PYXIS_GATHERER_PASS
            valueFrom:
              secretKeyRef:
                key: pyxis-gatherer-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_ARCHIVE_DB_WRITER_PASS
            valueFrom:
              secretKeyRef:
                key: archive-writer-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_CVE_AGGREGATOR_PASS
            valueFrom:
              secretKeyRef:
                key: cve-aggregator-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_CLEANER_PASS
            valueFrom:
              secretKeyRef:
                key: cleaner-db-passwd
                name: vuln4shift-db-passwds
          - name: USER_EXPLOIT_GATHERER_PASS
            valueFrom:
              secretKeyRef:
                key: exploit-gatherer-db-passwd
                name: vuln4shift-db-passwds
          - name: SCHEMA_MIGRATION
            value: ${SCHEMA_MIGRATION}
        command:
        - /vuln4shift/main
        - manager
        env:
        - name: POSTGRES_USER
          value: manager
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: manager-db-passwd
              name: vuln4shift-db-passwds
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        - name: GIN_MODE
          value: ${GIN_MODE}
        - name: AMS_ENABLED
          value: ${AMS_ENABLED}
        - name: AMS_API_URL
          value: ${AMS_API_URL}
        - name: AMS_API_PAGESIZE
          value: ${AMS_API_PAGESIZE}
        - name: AMS_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: ams-client-auth
              key: amsclient_id
        - name: AMS_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: ams-client-auth
              key: amsclient_secret
        resources:
          limits:
            cpu: ${CPU_LIMIT_MANAGER}
            memory: ${MEMORY_LIMIT_MANAGER}
          requests:
            cpu: ${CPU_REQUEST_MANAGER}
            memory: ${MEMORY_REQUEST_MANAGER}

    - name: digest-writer
      replicas: ${{MIN_REPLICAS_DIGEST_WRITER}}
      maxReplicas: ${{MAX_REPLICAS_DIGEST_WRITER}}
      webServices:
        public:
          enabled: false
        private:
          enabled: false
        metrics:
          enabled: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
        - /vuln4shift/main
        - digestwriter
        env:
        - name: POSTGRES_USER
          value: archive_db_writer
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: archive-writer-db-passwd
              name: vuln4shift-db-passwds
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        - name: KAFKA_BROKER_INCOMING_TOPIC
          value: ${KAFKA_BROKER_INCOMING_TOPIC}
        - name: KAFKA_PAYLOAD_TRACKER_TOPIC
          value: ${KAFKA_PAYLOAD_TRACKER_TOPIC}
        - name: KAFKA_BROKER_CONSUMER_GROUP
          value: ${DIGEST_WRITER_CONSUMER_GROUP}
        - name: KAFKA_CONSUMER_TIMEOUT
          value: ${KAFKA_CONSUMER_TIMEOUT}
        - name: KAFKA_PRODUCER_TIMEOUT
          value: ${KAFKA_PRODUCER_TIMEOUT}
        - name: PAYLOAD_TRACKER_ENABLED
          value: ${PAYLOAD_TRACKER_ENABLED}
        - name: GIN_MODE
          value: ${GIN_MODE}
        resources:
          limits:
            cpu: ${CPU_LIMIT_DIGEST_WRITER}
            memory: ${MEMORY_LIMIT_DIGEST_WRITER}
          requests:
            cpu: ${CPU_REQUEST_DIGEST_WRITER}
            memory: ${MEMORY_REQUEST_DIGEST_WRITER}

    jobs:
    - name: vmaas-sync
      schedule: ${SCHEDULE_VMAAS_SYNC}
      suspend: ${{SUSPEND_VMAAS_SYNC}}
      concurrencyPolicy: "Forbid"
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
        - /vuln4shift/main
        - vmsync
        env:
        - name: POSTGRES_USER
          value: vmaas_gatherer
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: vmaas-gatherer-db-passwd
              name: vuln4shift-db-passwds
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        - name: PROMETHEUS_PUSHGATEWAY
          value: ${PROMETHEUS_PUSHGATEWAY}
        - name: API_RETRIES
          value: ${API_RETRIES}
        - name: VMAAS_BASE_URL
          value: ${VMAAS_BASE_URL}
        - name: VMAAS_BATCH_SIZE
          value: ${VMAAS_BATCH_SIZE}
        - name: VMAAS_PAGE_SIZE
          value: ${VMAAS_PAGE_SIZE}
        resources:
          limits:
            cpu: ${CPU_LIMIT_VMAAS_SYNC}
            memory: ${MEMORY_LIMIT_VMAAS_SYNC}
          requests:
            cpu: ${CPU_REQUEST_VMAAS_SYNC}
            memory: ${MEMORY_REQUEST_VMAAS_SYNC}

    - name: pyxis-gatherer
      schedule: ${SCHEDULE_PYXIS_GATHERER}
      suspend: ${{SUSPEND_PYXIS_GATHERER}}
      concurrencyPolicy: "Forbid"
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
        - /vuln4shift/main
        - pyxis
        env:
        - name: POSTGRES_USER
          value: pyxis_gatherer
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: pyxis-gatherer-db-passwd
              name: vuln4shift-db-passwds
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        - name: PROMETHEUS_PUSHGATEWAY
          value: ${PROMETHEUS_PUSHGATEWAY}
        - name: API_RETRIES
          value: ${API_RETRIES}
        - name: PYXIS_BASE_URL
          value: ${PYXIS_BASE_URL}
        - name: PYXIS_PROFILE
          value: ${PYXIS_PROFILE}
        - name: FORCE_SYNC
          value: ${FORCE_SYNC}
        - name: SKIP_IMAGE_CVE_SYNC
          value: ${SKIP_IMAGE_CVE_SYNC}
        resources:
          limits:
            cpu: ${CPU_LIMIT_PYXIS_GATHERER}
            memory: ${MEMORY_LIMIT_PYXIS_GATHERER}
          requests:
            cpu: ${CPU_REQUEST_PYXIS_GATHERER}
            memory: ${MEMORY_REQUEST_PYXIS_GATHERER}

    - name: cleaner
      schedule: ${SCHEDULE_CLEANER}
      suspend: ${{SUSPEND_CLEANER}}
      concurrencyPolicy: "Forbid"
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
        - /vuln4shift/main
        - cleaner
        env:
        - name: POSTGRES_USER
          value: cleaner
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: cleaner-db-passwd
              name: vuln4shift-db-passwds
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        - name: CLUSTER_RETENTION_DAYS
          value: ${CLUSTER_RETENTION_DAYS}
        resources:
          limits:
            cpu: ${CPU_LIMIT_CLEANER}
            memory: ${MEMORY_LIMIT_CLEANER}
          requests:
            cpu: ${CPU_REQUEST_CLEANER}
            memory: ${MEMORY_REQUEST_CLEANER}

    - name: exploit-sync
      schedule: ${SCHEDULE_EXPLOIT_SYNC}
      suspend: ${{SUSPEND_EXPLOIT_SYNC}}
      concurrencyPolicy: "Forbid"
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
          - /vuln4shift/main
          - expsync
        env:
          - name: POSTGRES_USER
            value: exploit_gatherer
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                key: exploit-gatherer-db-passwd
                name: vuln4shift-db-passwds
          - name: LOGGING_LEVEL
            value: ${LOGGING_LEVEL}
          - name: PROMETHEUS_PUSHGATEWAY
            value: ${PROMETHEUS_PUSHGATEWAY}
          - name: API_RETRIES
            value: ${API_RETRIES}
          - name: EXPLOIT_FILE_URL
            value: ${{EXPLOIT_FILE_URL}}
          - name: GIT_TOKEN
            valueFrom:
              secretKeyRef:
                key: GIT_TOKEN
                name: github-vulnerability-bot
        resources:
          limits:
            cpu: ${CPU_LIMIT_EXPLOIT_SYNC}
            memory: ${MEMORY_LIMIT_EXPLOIT_SYNC}
          requests:
            cpu: ${CPU_REQUEST_EXPLOIT_SYNC}
            memory: ${MEMORY_REQUEST_EXPLOIT_SYNC}

    - name: repack
      schedule: ${SCHEDULE_REPACK}
      suspend: ${{SUSPEND_REPACK}}
      concurrencyPolicy: "Forbid"
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
          - /engine/entrypoint.sh
          - repack
        env:
        - name: LOGGING_LEVEL
          value: ${LOGGING_LEVEL}
        resources:
          limits:
            cpu: ${CPU_LIMIT_REPACK}
            memory: ${MEMORY_LIMIT_REPACK}
          requests:
            cpu: ${CPU_REQUEST_REPACK}
            memory: ${MEMORY_REQUEST_REPACK}

parameters:
# IMAGE AND CLOWDER
- name: IMAGE_TAG
  description: Image tag
  required: true
- name: IMAGE
  description: Image name
  required: true
  value: quay.io/cloudservices/vuln4shift-backend-app
- name: ENV_NAME
  description: ClowdEnv Name
  required: false

# REPLICAS
- name: REPLICAS_MANAGER
  description: manager replica count
  required: true
  value: "3"
- name: MIN_REPLICAS_DIGEST_WRITER
  description: digest writer minimum replica count
  required: true
  value: "2"
- name: MAX_REPLICAS_DIGEST_WRITER
  description: digest writer maximum replica count
  required: true
  value: "2"

# RESOURCES
- name: CPU_REQUEST_MANAGER
  description: Requested CPU for pod
  required: true
  value: 250m
- name: CPU_LIMIT_MANAGER
  description: Maximum CPU limit for pod
  required: true
  value: 500m
- name: MEMORY_REQUEST_MANAGER
  description: Requested memory for pod
  required: true
  value: "256Mi"
- name: MEMORY_LIMIT_MANAGER
  description: Maximum memory limit for pod
  required: true
  value: "512Mi"
- name: CPU_REQUEST_DIGEST_WRITER
  description: Requested CPU for pod
  required: true
  value: 250m
- name: CPU_LIMIT_DIGEST_WRITER
  description: Maximum CPU limit for pod
  required: true
  value: 500m
- name: MEMORY_REQUEST_DIGEST_WRITER
  description: Requested memory for pod
  required: true
  value: "256Mi"
- name: MEMORY_LIMIT_DIGEST_WRITER
  description: Maximum memory limit for pod
  required: true
  value: "512Mi"
- name: CPU_REQUEST_VMAAS_SYNC
  description: Requested CPU for pod
  required: true
  value: 250m
- name: CPU_LIMIT_VMAAS_SYNC
  description: Maximum CPU limit for pod
  required: true
  value: 500m
- name: MEMORY_REQUEST_VMAAS_SYNC
  description: Requested memory for pod
  required: true
  value: "256Mi"
- name: MEMORY_LIMIT_VMAAS_SYNC
  description: Maximum memory limit for pod
  required: true
  value: "512Mi"
- name: CPU_REQUEST_PYXIS_GATHERER
  description: Requested CPU for pod
  required: true
  value: 250m
- name: CPU_LIMIT_PYXIS_GATHERER
  description: Maximum CPU limit for pod
  required: true
  value: 500m
- name: MEMORY_REQUEST_PYXIS_GATHERER
  description: Requested memory for pod
  required: true
  value: "256Mi"
- name: MEMORY_LIMIT_PYXIS_GATHERER
  description: Maximum memory limit for pod
  required: true
  value: "1024Mi"
- name: CPU_REQUEST_CLEANER
  description: Requested CPU for pod
  required: true
  value: 250m
- name: CPU_LIMIT_CLEANER
  description: Maximum CPU limit for pod
  required: true
  value: 500m
- name: MEMORY_REQUEST_CLEANER
  description: Requested memory for pod
  required: true
  value: "256Mi"
- name: MEMORY_LIMIT_CLEANER
  description: Maximum memory limit for pod
  required: true
  value: "512Mi"
- name: CPU_LIMIT_EXPLOIT_SYNC
  description: Maximum CPU limit for pod
  value: 500m
- name: MEMORY_LIMIT_EXPLOIT_SYNC
  description: Maximum memory limit for pod
  value: "256Mi"
- name: CPU_REQUEST_EXPLOIT_SYNC
  description: Requested CPU for pod
  value: 200m
- name: MEMORY_REQUEST_EXPLOIT_SYNC
  description: Requested memory for pod
  value: "128Mi"
- name: CPU_LIMIT_REPACK
  description: Maximum CPU limit for pod
  value: 500m
- name: MEMORY_LIMIT_REPACK
  description: Maximum memory limit for pod
  value: "256Mi"
- name: CPU_REQUEST_REPACK
  description: Requested CPU for pod
  value: 200m
- name: MEMORY_REQUEST_REPACK
  description: Requested memory for pod
  value: "128Mi"

# CRON SCHEDULES
- name: SCHEDULE_VMAAS_SYNC
  description: Cronjob schedule definition
  required: true
  value: "0 */4 * * *"
- name: SUSPEND_VMAAS_SYNC
  description: Disable Cronjob
  required: true
  value: "false"
- name: SCHEDULE_PYXIS_GATHERER
  description: Cronjob schedule definition
  required: true
  value: "30 */4 * * *"
- name: SUSPEND_PYXIS_GATHERER
  description: Disable Cronjob
  required: true
  value: "false"
- name: SCHEDULE_CLEANER
  description: Cronjob schedule defintion
  required: true
  value: "0 0 * * *"
- name: SUSPEND_CLEANER
  description: Disable Cronjob
  required: true
  value: "false"
- name: SCHEDULE_EXPLOIT_SYNC
  description: Cronjob schedule definition
  required: true
  value: 0 0/6 * * *
- name: SUSPEND_EXPLOIT_SYNC
  description: Disable Cronjob
  required: true
  value: "false"
- name: SCHEDULE_REPACK
  description: Cronjob schedule definition
  required: true
  value: 0 11 * * 1
- name: SUSPEND_REPACK
  description: Disable Cronjob
  required: true
  value: "false"

# COMMON APP CONFIG
- name: LOGGING_LEVEL
  description: Logging level in app code
  required: true
  value: INFO
- name: API_RETRIES
  description: Number of API retries before giving up
  required: true
  value: "3"
- name: PROMETHEUS_PUSHGATEWAY
  description: Prometheus push gateway host
  required: true
  value: "pushgateway"
- name: GIN_MODE
  description: Mode of Gin Web Framework
  required: true
  value: release

# DB ADMIN CONFIG
- name: SCHEMA_MIGRATION
  description: Target schema version, value < 1 migrates to the latest
  required: true
  value: "-1"

# MANAGER CONFIG
- name: AMS_ENABLED
  value: "true"
- name: AMS_API_URL
  value: "https://api.openshift.com"
- name: AMS_API_PAGESIZE
  value: "-1"

# DIGEST WRITER CONFIG
- name: DIGEST_WRITER_CONSUMER_GROUP
  description: Consumer group for the kafka
  required: true
  value: vuln4shift_digest_writer_app
- name: KAFKA_BROKER_INCOMING_TOPIC
  description: Topic with incoming cluster data from sha-extractor
  required: true
  value: ccx.image.sha.results
- name: KAFKA_PAYLOAD_TRACKER_TOPIC
  description: Topic for writing payload tracker messages
  required: true
  value: platform.payload-status
- name: KAFKA_CONSUMER_TIMEOUT
  description: Timeout for kafka consumer
- name: KAFKA_PRODUCER_TIMEOUT
  description: Timeout for kafka producer
  value: "5s"
- name: PAYLOAD_TRACKER_ENABLED
  description: Feature flag to enable Payload Tracker
  value: "true"

# VMAAS SYNC CONFIG
- name: VMAAS_BASE_URL
  description: Base URL of VMaaS
  required: true
  value: https://console.redhat.com/api/vmaas/v3/cves
- name: VMAAS_BATCH_SIZE
  description: Number of items processed in one batch
  required: true
  value: "5000"
- name: VMAAS_PAGE_SIZE
  description: Number of items returned by the API
  required: true
  value: "5000"

# PYXIS GATHERER CONFIG
- name: PYXIS_BASE_URL
  description: Base URL of Pyxis
  required: true
  value: https://catalog.redhat.com/api/containers/v1
- name: PYXIS_PROFILE
  description: Pyxis sync profile
  required: true
  value: all
- name: FORCE_SYNC
  value: "false"
- name: SKIP_IMAGE_CVE_SYNC
  value: "false"

# CLEANER CONFIG
- name: CLUSTER_RETENTION_DAYS
  description: Number of days when cluster becomes purgable
  required: true
  value: "31"

# EXPLOIT SYNC CONFIG
- name: EXPLOIT_FILE_URL
  description: URL of exploit file accessed by GitHub API
  value: https://api.github.com/repos/RedHatInsights/vmaas-assets/contents/exploits.json
