name: Run linters configured in the .golangci.yaml file

on:
  push:
  pull_request:
    branches:
      - "master"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.16.14'
        check-latest: false
    - uses: actions/checkout@v2
    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.45.1
