name: Run linters configured in the .golangci.yaml file

on:
  push:
  pull_request:
    branches:
      - "master"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17.7'
      run: go mod tidy

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.44.2
